<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="baseDir" value="%url.logfiles.source%" />
    <add key="serverUrl" value="http://localhost:9000/upload" />
    <add key="tags" value="%#sctm_execdef_name%, %#sctm_build%, %#sctm_version%" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>